
services:
  frontend:
    build:
      context: ./frontend
      target: development-dependencies-env
    container_name: monorepo-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: ["npm", "run", "dev"]
    depends_on:
      - backend



  backend:
    build: ./backend
    container_name: monorepo-backend
    ports:
      - "5001:5000"
    volumes:
      - ./backend:/app
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=example
      - DB_NAME=monorepo
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: monorepo-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: example
      POSTGRES_DB: monorepo
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
